// PRESETS

$white: #fff;
$black: #000;
$grey: #CFCFCF;
$dark-grey: #4B4B4F;
$orange:#EF483E;


@font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/HelveticaNeueCyr-Medium.otf);
    font-style: normal;
    font-weight: normal;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 }

// COMMON PROPERTIES

body{
    background-color: #343539;
    font-family: Helvetica Neue, Arial, sans-serif;
  }

  h1, .form__txt, .small-title, .form__notice{
    color: $white;
    letter-spacing:.05em;
  }

  .form__txt{
    font-size: 13px;
  }

  .container{
    position: relative;
  }

  @media(max-width:520px){
    .container{
      padding: 0 16px;
    }
  }

  @media(min-width:520px){
    .container{
      padding: 0 4vw;
    }
  }

  @media(min-width:520px){
    .container{
      padding: 0 8vw;
    }
  }

  @media(min-width:1024px){
    .container{
      padding: 0 170px;
    }
  }


  /*for block 2 and 3*/
  .select-wrapper+.select-wrapper, .temperature-wrapper+.temperature-wrapper{
    margin-left: 12px;
  }

  /*styles for myltiple selects*/
  .form__select{
    height: 44px;
    font-size: 15px;
  }


// H1 AND ROUTE BLOCK

h1{
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.small-title{
  display: flex;
  margin-bottom: 16px;
  line-height: 24px;

  .small-title__circle{
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: $orange;
    text-align: center;
    font-size: 16px;
  }

  .small-title__txt{
    margin-left: 8px;
    font-size: 20px;
    font-weight: 700;
  }

}

.form__input-route{
  margin-bottom: 40px;

  .form__input-txt-type{
    margin-bottom: 16px;
    .form__txt{
      margin-bottom: 8px;
    }

    @media(min-width:320px){
      .form-place{
        display: block;
        height: 44px;
        width: 100%;
        max-width: 728px;
        padding-left: 14px;
      }
    }
  }
}


// TRANSPORT BLOCK

  .select-wrapper, .form__select, .temperature-wrapper{
    width: 100%;
  }

.form__transport{
  max-width: 356px;
  margin-bottom: 40px;
  .wrapper{
    display: flex;
  }

  .form__txt{
    margin-bottom: 8px;
  }
}

// select menu styles
ul{
  list-style: none;
  background-color: $white;

  &:hover ~ li:not(.desaturated){
    display: block;
  }
  &:hover ~ .iconify{
    transform: rotate(180deg);
    transition: .5s;
  }

  li{
    position: relative;
    z-index: 2;
    padding: 14px 13px;
    padding-left: 16px;
    background-color: $white;
    cursor: pointer;
  }

  li:not(.desaturated){
    display: none;
  }

  li:not(.desaturated):hover{
    background-color: $orange;
    color: $white;
  }

  li.desaturated{
    display: flex;
    justify-content: space-between;
    color: $grey;
  }

  &:hover .iconify{
    transform: rotate(180deg);
    transition: .5s;
  }
}

// styles for second dropdown menu
ul:hover li{
  display: flex;
}

.select-wrapper:nth-child(2) .form__select li{
  display: flex;
  justify-content: space-between;


}

.select-wrapper:nth-child(2) .form__select li:first-child{
  background-color: $white;
  color: $black;
}

.select-wrapper:nth-child(2) ul li:not(:first-of-type){
  display: none;
}

.select-wrapper:nth-child(2) ul:hover{
  & li{
    display: flex;
  }
}


// TRUCK BLOCK

.form__truck{
  max-width: 356px;
  margin-bottom: 40px;

  // improving dropdown layers
  li{
    z-index: 1;
  }

  .wrapper{
    display: flex;
  }

  .form__txt{
    margin-bottom: 8px;
  }

  .select-wrapper+.select-wrapper{
    margin-bottom: 16px;
  }

  // Checkbox styles

  .checkbox-wrapper{
    display: flex;
    position: relative;
    cursor: pointer;

    /*hide checkbox*/
    input[type=checkbox] {
      visibility: hidden;
    }
    /* create fake checkbox*/
    .fake-checkbox{
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: white;
    }

    input:checked ~ .fake-checkbox {
      background-color: $orange;
  }


  .fake-checkbox:after {
    content: "";
    position: absolute;
    display: none;
  }
  /*styles for toggling*/
  input:checked ~ .fake-checkbox:after {
    display: flex;
  }

  .fake-checkbox:after {
    left: 8px;
    bottom: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

// end checkbox

    .form__txt{
      margin-left: 24px;
      line-height: 24px;
    }
  }

  .temperature-input{
    input{
      padding-left: 14px;
      height: 46px;
      width: 100%;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
}

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
      }
    }


// FORM TIME BLOCK

.form__time{
  .wrapper:nth-child(2){
    display: flex;
    width: 100%;
    max-width: 728px;
    justify-content: space-between;
    @media(min-width: 320px){
    }
  }

  .form__choose-wrapper{
    position: relative;
    height: 44px;
    width: 100%;
    max-width: 728px;
    background-color: $dark-grey;
    font-weight: 400;
    padding: 13px;
  }

  .form__choose-label{
    display: flex;
  }

  // styles for vanishing gradient
  .form__choose-wrapper:first-child{
    @media(max-width:414px){
      .gradiented-txt{
        background-color: $grey;
        background-image: linear-gradient(90deg, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 50%, rgba(100,100,100,1) 75%, rgba(75,75,75,1) 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

    @media(max-width:520px){
      .gradiented-txt{
        background-color: $grey;
        background-image: linear-gradient(90deg, rgba(207,207,207,1) 0%, rgba(207,207,207,1) 50%, rgba(100,100,100,1) 90%, rgba(75,75,75,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }

  }

  .form__txt{
    margin-bottom: 16px;
  }

  .form__choose-wrapper:first-of-type{
    margin-bottom: 4px;
  }

  .form__choose-wrapper:nth-of-type(2){
    margin-bottom: 16px;
  }

  label{
    font-size: 15px;
    line-height: 19px;
    color: $grey;

    input{
      margin-right: 8px;
    }

  }

  .not-choosen{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 119px;
    padding: 4 14px;
    border-radius: 2px;
    background-color: #56565a;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    color: #818181;
  }

  .active{
    color: $white;
    background-color: #717171;
  }

  .gradiented-txt, .not-choosen{
    margin-left: 8px;
  }

  // radio styles

  /*hide radio*/
  .form__input-choose{
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  /*create fake radio*/
  .fake-checkbox{
    position: relative;
  }

  .fake-checkbox::before{
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 4x solid $white;
    border-radius: 16px;
    background-color: #fff;
  }

  .fake-checkbox::after{
    top: 4px;
    left: 4px;
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: $dark-grey;
  }

  /*change radio styles than checked*/
  .form__input-choose:checked + .fake-checkbox::before{
    background-color: $orange;
  }

  // end of radio styles
}


// COMMENTS BLOCK

.form__comments{
  margin-bottom: 40px;
  textarea{
    min-height: 80px;
    padding: 13px 14px;
    font-size: 15px;
    resize: none;
    margin: 0;
    width: 100%;
    max-width: 728px;
    &::placeholder{
      color: #CFCFCF;
    }
  }

  .form__txt{
    margin-bottom: 16px;
  }
}

.form__notice{
  margin-bottom: 37px;
  .wrapper{
    height: 104px;
    width: 100%;
    max-width: 728px;
    padding: 24px;
    background-color: $dark-grey;
    font-size: 15px;
    color: $white;
  }
}

@media(min-width:1300px){
  .form__notice{
    position: absolute;
    top: 58px;
    left: 914px;
    width: 356px;
    height: 102px;
    box-shadow: 0px 10px 20px 0px #0000001A;
  }
}