@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/HelveticaNeueCyr-Medium.otf);
  font-style: normal;
  font-weight: normal; }
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #343539;
  font-family: Helvetica Neue, Arial, sans-serif; }

h1, .form__txt, .small-title, .form__notice {
  color: #fff;
  letter-spacing: .05em; }

.form__txt {
  font-size: 13px; }

.container {
  position: relative; }

@media (max-width: 520px) {
  .container {
    padding: 0 16px; } }
@media (min-width: 520px) {
  .container {
    padding: 0 4vw; } }
@media (min-width: 520px) {
  .container {
    padding: 0 8vw; } }
@media (min-width: 1024px) {
  .container {
    padding: 0 170px; } }
/*for block 2 and 3*/
.select-wrapper + .select-wrapper, .temperature-wrapper + .temperature-wrapper {
  margin-left: 12px; }

/*styles for myltiple selects*/
.form__select {
  height: 44px;
  font-size: 15px; }

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left; }

.small-title {
  display: flex;
  margin-bottom: 16px;
  line-height: 24px; }
  .small-title .small-title__circle {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #EF483E;
    text-align: center;
    font-size: 16px; }
  .small-title .small-title__txt {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 700; }

.form__input-route {
  margin-bottom: 40px; }
  .form__input-route .form__input-txt-type {
    margin-bottom: 16px; }
    .form__input-route .form__input-txt-type .form__txt {
      margin-bottom: 8px; }
    @media (min-width: 320px) {
      .form__input-route .form__input-txt-type .form-place {
        display: block;
        height: 44px;
        width: 100%;
        max-width: 728px;
        padding-left: 14px; } }

.select-wrapper, .form__select, .temperature-wrapper {
  width: 100%; }

.form__transport {
  max-width: 356px;
  margin-bottom: 40px; }
  .form__transport .wrapper {
    display: flex; }
  .form__transport .form__txt {
    margin-bottom: 8px; }

ul {
  list-style: none;
  background-color: #fff; }
  ul:hover ~ li:not(.desaturated) {
    display: block; }
  ul:hover ~ .iconify {
    transform: rotate(180deg);
    transition: .5s; }
  ul li {
    position: relative;
    z-index: 2;
    padding: 14px 13px;
    padding-left: 16px;
    background-color: #fff;
    cursor: pointer; }
  ul li:not(.desaturated) {
    display: none; }
  ul li:not(.desaturated):hover {
    background-color: #EF483E;
    color: #fff; }
  ul li.desaturated {
    display: flex;
    justify-content: space-between;
    color: #CFCFCF; }
  ul:hover .iconify {
    transform: rotate(180deg);
    transition: .5s; }

ul:hover li {
  display: flex; }

.select-wrapper:nth-child(2) .form__select li {
  display: flex;
  justify-content: space-between; }

.select-wrapper:nth-child(2) .form__select li:first-child {
  background-color: #fff;
  color: #000; }

.select-wrapper:nth-child(2) ul li:not(:first-of-type) {
  display: none; }

.select-wrapper:nth-child(2) ul:hover li {
  display: flex; }

.form__truck {
  max-width: 356px;
  margin-bottom: 40px; }
  .form__truck li {
    z-index: 1; }
  .form__truck .wrapper {
    display: flex; }
  .form__truck .form__txt {
    margin-bottom: 8px; }
  .form__truck .select-wrapper + .select-wrapper {
    margin-bottom: 16px; }
  .form__truck .checkbox-wrapper {
    display: flex;
    position: relative;
    cursor: pointer;
    /*hide checkbox*/
    /* create fake checkbox*/
    /*styles for toggling*/ }
    .form__truck .checkbox-wrapper input[type=checkbox] {
      visibility: hidden; }
    .form__truck .checkbox-wrapper .fake-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background-color: white; }
    .form__truck .checkbox-wrapper input:checked ~ .fake-checkbox {
      background-color: #EF483E; }
    .form__truck .checkbox-wrapper .fake-checkbox:after {
      content: "";
      position: absolute;
      display: none; }
    .form__truck .checkbox-wrapper input:checked ~ .fake-checkbox:after {
      display: flex; }
    .form__truck .checkbox-wrapper .fake-checkbox:after {
      left: 8px;
      bottom: 5px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 4px 4px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .form__truck .checkbox-wrapper .form__txt {
      margin-left: 24px;
      line-height: 24px; }
  .form__truck .temperature-input {
    /* Chrome, Safari, Edge, Opera */
    /* Firefox */ }
    .form__truck .temperature-input input {
      padding-left: 14px;
      height: 46px;
      width: 100%; }
    .form__truck .temperature-input input::-webkit-outer-spin-button,
    .form__truck .temperature-input input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .form__truck .temperature-input input[type=number] {
      -moz-appearance: textfield; }

.form__time {
  /*hide radio*/
  /*create fake radio*/
  /*change radio styles than checked*/ }
  .form__time .wrapper:nth-child(2) {
    display: flex;
    width: 100%;
    max-width: 728px;
    justify-content: space-between; }
  .form__time .form__choose-wrapper {
    position: relative;
    height: 44px;
    width: 100%;
    max-width: 728px;
    background-color: #4B4B4F;
    font-weight: 400;
    padding: 13px; }
  .form__time .form__choose-label {
    display: flex; }
  @media (max-width: 414px) {
    .form__time .form__choose-wrapper:first-child .gradiented-txt {
      background-color: #CFCFCF;
      background-image: linear-gradient(90deg, #cfcfcf 0%, #cfcfcf 50%, #646464 75%, #4b4b4b 80%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; } }
  @media (max-width: 520px) {
    .form__time .form__choose-wrapper:first-child .gradiented-txt {
      background-color: #CFCFCF;
      background-image: linear-gradient(90deg, #cfcfcf 0%, #cfcfcf 50%, #646464 90%, #4b4b4b 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; } }
  .form__time .form__txt {
    margin-bottom: 16px; }
  .form__time .form__choose-wrapper:first-of-type {
    margin-bottom: 4px; }
  .form__time .form__choose-wrapper:nth-of-type(2) {
    margin-bottom: 16px; }
  .form__time label {
    font-size: 15px;
    line-height: 19px;
    color: #CFCFCF; }
    .form__time label input {
      margin-right: 8px; }
  .form__time .not-choosen {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 24px;
    width: 119px;
    padding: 4 14px;
    border-radius: 2px;
    background-color: #56565a;
    line-height: 24px;
    font-size: 13px;
    text-align: center;
    color: #818181; }
  .form__time .active {
    color: #fff;
    background-color: #717171; }
  .form__time .gradiented-txt, .form__time .not-choosen {
    margin-left: 8px; }
  .form__time .form__input-choose {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .form__time .fake-checkbox {
    position: relative; }
  .form__time .fake-checkbox::before {
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    border: 4x solid #fff;
    border-radius: 16px;
    background-color: #fff; }
  .form__time .fake-checkbox::after {
    top: 4px;
    left: 4px;
    position: absolute;
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #4B4B4F; }
  .form__time .form__input-choose:checked + .fake-checkbox::before {
    background-color: #EF483E; }

.form__comments {
  margin-bottom: 40px; }
  .form__comments textarea {
    min-height: 80px;
    padding: 13px 14px;
    font-size: 15px;
    resize: none;
    margin: 0;
    width: 100%;
    max-width: 728px; }
    .form__comments textarea::placeholder {
      color: #CFCFCF; }
  .form__comments .form__txt {
    margin-bottom: 16px; }

.form__notice {
  margin-bottom: 37px; }
  .form__notice .wrapper {
    height: 104px;
    width: 100%;
    max-width: 728px;
    padding: 24px;
    background-color: #4B4B4F;
    font-size: 15px;
    color: #fff; }

@media (min-width: 1300px) {
  .form__notice {
    position: absolute;
    top: 58px;
    left: 914px;
    width: 356px;
    height: 102px;
    box-shadow: 0px 10px 20px 0px #0000001A; } }

/*# sourceMappingURL=main.css.map */
